@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap);
:root {
  --color-red: rgb(233, 79, 55);
  --color-grey: rgb(223, 223, 223);
  --color-black: rgb(15, 14, 14);
  --font-family: "Montserrat", sans-serif;
  --font-size: 16px;
  --container-width: 1470px;
  --container-offset: 15px;
  --animation-duration: 0.3s;
  --animation-effect: ease-in-out;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size);
  color: var(--color-black);
  font-family: var(--font-family);
  background-color: var(--color-grey);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-offset);
  margin: 0 auto;
  height: 100%;
}

video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  position: relative;
  color: var(--color-black);
  text-decoration: none;
  padding: 6px 0;
}
a:after {
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-red);
  position: absolute;
  transition: width calc(var(--animation-duration) * 1.5) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a:hover:after {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}

.red {
  color: var(--color-red);
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size);
  border: none;
  text-decoration: none;
  font-family: var(--font-family);
  cursor: pointer;
  transition-property: background-color, color, border;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-effect);
}
.button--outline {
  color: var(--color-black);
  background-color: transparent;
  border: 2px solid var(--color-red);
}
.button--outline:hover {
  background-color: var(--color-red);
  color: #fff;
}
.button--large {
  padding: 20px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.w100 {
  width: 100%;
}

.burger {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  flex-direction: column;
  gap: 8px;
}
.burger__line {
  transition: background-color var(--animation-duration) var(--animation-effect);
  width: 30px;
  height: 2px;
  border: none;
  outline: none;
  background-color: #fff;
}

.section {
  --offset: 60px;
  padding: calc(var(--offset) * 1.75) 0;
}
.section + .section {
  padding-top: 0;
}
.section-header {
  margin-bottom: calc(var(--offset) * 1.5);
}
.section-header__title {
  font-size: calc(var(--font-size) * 2.5);
}

.cards {
  --offset: 100px;
  --image: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--offset);
}

.card {
  display: flex;
  flex-direction: column;
}
.card .box-image {
  overflow: hidden;
  min-height: var(--image);
  max-height: var(--image);
  cursor: pointer;
  margin-bottom: 50px;
}
.card .box-image img {
  width: 100%;
  height: 100%;
  min-height: var(--image);
  max-height: var(--image);
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s ease-in-out;
  filter: grayscale(1);
}
.card .box-image:hover img {
  filter: grayscale(0);
}
.card__title {
  font-size: calc(var(--font-size) * 2);
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.card__title:after {
  position: absolute;
  content: "";
  width: 25%;
  height: 2px;
  background-color: var(--color-red);
  bottom: 0;
  left: 0;
}
.card__text {
  line-height: 1.75;
  margin-bottom: 40px;
}
.card__button {
  margin-top: auto;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo span {
  color: #fff;
  text-transform: capitalize;
  margin-left: 10px;
  transition: color var(--animation-duration) var(--animation-effect);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color var(--animation-duration) var(--animation-effect);
}
.header.is--sticky {
  background-color: #fff;
}
.header.is--sticky .logo span {
  color: var(--color-black);
}
.header.is--sticky .logo svg * {
  fill: var(--color-red);
}
.header.is--sticky .burger__line {
  background-color: var(--color-black);
}
.header.is--sticky .menu__link {
  color: var(--color-black);
}
.header-nav {
  padding: 20px 0;
  display: grid;
  grid-template-columns: minmax(100px, 20%) 1fr 1fr minmax(100px, 20%);
  grid-template-areas: "logo menu menu icons";
  align-items: center;
}
.header .logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .logo svg * {
  transition: fill var(--animation-duration) var(--animation-effect);
}
.header .menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
.header .menu__link {
  position: relative;
  color: #fff;
  transition: color var(--animation-duration) var(--animation-effect);
}
.header .actions {
  display: flex;
  align-items: center;
  grid-area: icons;
  justify-content: flex-end;
}

.hero {
  position: relative;
}
.hero__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 80px;
  text-align: center;
}
.hero__video {
  min-height: 100vh;
  max-height: 100vh;
  margin-bottom: -4px;
}
.hero-video:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  font-size: calc(var(--font-size) * 3.5);
  color: #fff;
  margin-bottom: 20px;
}
.hero__text {
  color: #fff;
  font-size: calc(var(--font-size) * 1.1);
}

.reviews {
  --offset: 100px;
  --image: 700px;
}
.reviews-list {
  padding: 50px 0;
}
.reviews .review__title {
  font-size: calc(var(--font-size) * 2);
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.reviews .review__title:after {
  transition: width calc(var(--animation-duration) * 3) var(--animation-effect);
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-red);
  bottom: 0;
  left: 0;
}
.reviews .review__text {
  line-height: 1.75;
}
.reviews .box-image {
  overflow: hidden;
  min-height: var(--image);
  max-height: var(--image);
  cursor: pointer;
  margin-bottom: 50px;
}
.reviews .box-image img {
  width: 100%;
  height: 100%;
  min-height: var(--image);
  max-height: var(--image);
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter calc(var(--animation-duration) * 3) var(--animation-effect);
  filter: grayscale(1);
}
.reviews .box-image:hover img {
  filter: grayscale(0);
}
.reviews ._active img {
  filter: grayscale(0);
}
.reviews ._active .review__title:after {
  width: 25%;
}

.gallery .swiper-slide {
  max-height: 90vh;
}
.gallery .swiper-slide .box-image {
  position: relative;
}
.gallery .swiper-slide .box-image:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery .swiper-pagination.container {
  height: auto;
  margin: 0 auto;
  max-width: var(--container-width);
  z-index: 10;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.gallery .swiper-pagination-bullet {
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}
.gallery .swiper-pagination-bullet-active {
  background-color: var(--color-red);
}

.footer {
  background-color: var(--color-black);
  padding: 50px 0;
}
.footer__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .menu {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
}
.footer .menu__link {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .collection .cards {
    --offset: 30px;
    --image: 500px;
  }
  .collection .card__title {
    font-size: calc(var(--font-size) * 1.5);
  }
  .collection .card__text {
    font-size: calc(var(--font-size) * 0.85);
  }
}
@media screen and (max-width: 576px) {
  .header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header-nav .menu {
    display: none;
  }

  .hero__wrapper {
    padding: 0;
    text-align: center;
  }
  .hero__title {
    font-size: calc(var(--font-size) * 2);
  }

  .collection .cards {
    grid-template-columns: 1fr;
  }

  .burger {
    display: flex;
  }
}
