@media screen and (max-width: 768px) {
    .collection {
        .cards {
            --offset: 30px;
            --image: 500px;
        }
        .card {
            &__title {
                font-size: calc(var(--font-size) * 1.5);
            }
            &__text {
                font-size: calc(var(--font-size) * 0.85);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &-nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            .menu {
                display: none;
            }
        }
    }

    .hero {
        &__wrapper {
            padding: 0;
            text-align: center;
        }

        &__title {
            font-size: calc(var(--font-size) * 2);
        }
    }

    .collection {
        .cards {
            grid-template-columns: 1fr;
        }
    }

    .burger {
        display: flex;
    }
}
